#score { text-align: center; }

#game {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("https://t3.ftcdn.net/jpg/00/88/98/18/360_F_88981880_YjJManMJ6hJmKr5CZteFJAkEzXIh8mxW.jpg");
  background-size: cover;
}

#dino {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("https://media.licdn.com/dms/image/D4E03AQG_iskBbRLUNw/profile-displayphoto-shrink_800_800/0/1697469873514?e=2147483647&v=beta&t=1AK0Wlr0A_rq4xgq3dP7CsAcdBM88vx0iVwXcDArRYY");
  background-size: cover;
}

#rock {
  width: 75px;
  height: 75px;
  position: relative;
  top: 150px;
  left: 550px;
  background-image: url("https://p7.hiclipart.com/preview/358/849/109/postgresql-clip-art-database-logo-database-symbol-thumbnail.jpg");
  background-size: cover;
  animation: rock 1.33s infinite;
}

@keyframes rock {
  0%{left: 550px;}
  100%{left: -50px;}
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0%{top: 225px;}
  50%{top: 75px;}
  75%{top: 75px;}
  100%{top: 225px;}
}